body { 

	background-color: plum;
	
}

h1 {
	color: white;
	font-size: 60px;
	font-family: 'Dancing Script', cursive;
	text-align: center;
}

h2 { 
	color: white;
	font-size: 25px:
	font-family: 'Dancing Script', cursive;
	text-align: right;
	
	
}

